/* ??? */

.navbar {
  display: flex;
  background-color: var(--dark);
  width: 100%;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  /* bring to front */
  z-index: 1000;
}

.navbar__item {
  flex-grow: 1;
  list-style-type: none;
  text-align: center;
  color: var(--offWhite);
}

.navbar__link {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  color: var(--offWhite);
  padding: 0.2rem;
  display: block;
}

.navbar__logout {
  margin-left: auto;
}

.navbar__link:hover {
  color: var(--secondary);
}

#selected {
  color: var(--secondary);
  -webkit-text-stroke: 1px;
}
