/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* FONTS
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif; 

font-family: 'Lato';
*/

/* COLOR PALETTE */
:root {
  --primary: #4cb44a;
  --primary-dark: #3b8d39;
  --primary-light: #59d457;
  --primary-darker: #398536;

  --secondary: #448cde;
  --secondary-dark: #2870c3;

  --info: #ffb400;
  --warning: #f61d1d;

  --white: #ffffff;
  --offWhite: #f2f2f3;
  --dark: #3b3b3b;
  --darker: #252525;
  --outline: #c3c0c0;

  --appBackground: #f2f2f3;
}
/* GLOBAL */
body,
button,
input,
select,
textarea {
  font-family: 'Nunito', sans-serif;
}
body {
  background-color: var(--appBackground);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', serif;
}

/* prevents all the links in the app from having default underline */
/*
a {
  text-decoration: none;
  color: inherit;
}
*/
/* prevents all the links in the app from turning purple after visiting */
/*
a:visited {
  color: inherit;
}
*/
/* prevents all the inputs in the app from having that blue outline when in focus */
/*
input:focus {
  outline: none;
}
 */
/* 
button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
}
*/

/*
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #0097d7;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: #e14617;
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #e19e00;
}
*/
