/* ??? */

.sighting-details {
  margin: 20px 0px;
}

#sighting-form__description_input {
  width: 800px;
  min-width: 500px;
  max-width: 95%;
  height: 400px;
  min-height: 200px;
  max-height: 650px;
  resize: both;
}

.delete-btn {
  float: right;
  margin-right: 20px;
}

/* ??? */

.sighting,
.sighting-newspaper {
  width: 666px;
  /* width: 500px; */
  height: 500px;
  /* height: 375px; */
}

.sighting-newspaper {
  position: absolute;
  z-index: -1;
}

.sightings-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sighting-content {
  margin-top: 8%;
  margin-right: 20%;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
}

.sighting-content__a,
.sighting-content__b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sighting__cryptid,
.sighting__location {
  margin-top: 5px;
}

.sighting__description {
  margin-top: 10%;
}

.sighting {
  border: rgba(0, 0, 0, 0) solid 0.1px;
}

/* ! */
.sighting {
  /* border: red solid 1px; */
}
.sighting-content {
  /* border: orange solid 2px; */
}
.sighting-content > * {
  /* border: green solid 1px; */
}
.sightings-list {
  /* border: blue solid 2px; */
}

.sighting__author-badge {
  position: absolute;
  width: 50px;
  margin-top: 19.3%;
  margin-left: 22%;
}
