/* ??? */

.cryptid,
.cryptid-details {
  margin: 20px 0px;
}

.cryptid__img,
.cryptid-details__img {
  max-width: 400px;
  /* width: 80%; */
  height: 300px;
  filter: grayscale(100%);
  object-fit: cover;
}

.cryptid-form input {
  width: 800px;
  min-width: 500px;
  max-width: 95%;
}

#cryptid-form__description-input {
  width: 800px;
  min-width: 500px;
  max-width: 95%;
  height: 200px;
  min-height: 200px;
  max-height: 650px;
  resize: both;
}

.cryptid-details__img {
  margin-bottom: 20px;
}

.deny-btn {
  float: right;
  margin-right: 20px;
}

.status-pending {
  color: blue;
}

.status-approved {
  color: green;
}

.status-denied {
  color: red;
}
