.cryptid-form input {
  width: 850px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}

#cryptid-form__description-input,
#sighting-form__description_input {
  width: 850px;
  resize: none;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
#cryptid-form__description-input {
  height: 440px;
}
#sighting-form__description_input {
  height: 425px;
}

#sighting-form__location_input,
.sighting-form__cryptid-dropdown {
  border: none;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}
#sighting-form__location_input {
  width: 151px;
}

.sighting-form-container,
.cryptid-form-container {
  --shadow-width: 20px;
  --shadow-radius: 10px;
  --shadow-color: rgb(0, 0, 0, 0.5);
  --text-shadow-width: 0px;
  --text-shadow-radius: 15px;
  --text-shadow-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
}
.cryptid-form,
.sighting-form {
  padding-top: 60px;
  padding-left: 50px;
}

.sighting-form__content-a {
  display: flex;
  justify-content: space-between;
}

#sighting-form__cryptid-dropdown-label,
#sighting-form__location-input-label,
.sighting-form__new-cryptid {
  text-shadow: var(--text-shadow-width) var(--text-shadow-width) var(--text-shadow-radius) var(--text-shadow-color),
    var(--text-shadow-width) calc(var(--text-shadow-width) * -1) var(--text-shadow-radius) var(--text-shadow-color),
    calc(var(--text-shadow-width) * -1) var(--text-shadow-width) var(--text-shadow-radius) var(--text-shadow-color),
    calc(var(--text-shadow-width) * -1) calc(var(--text-shadow-width) * -1) var(--text-shadow-radius)
      var(--text-shadow-color);
}

.sighting-form__new-cryptid-link:hover {
  text-decoration: underline;
}

.form__submit-icon,
.form__submit-icon-disabled {
  color: darkgreen;
  margin-top: 70px;
  font-size: 100px;
}
.form__submit-icon:hover {
  color: green;
  cursor: pointer;
}
.form__submit-icon__shadow,
.form__submit-icon-disabled__shadow {
  color: rgb(245, 245, 245);
  position: absolute;
  z-index: -1;
  margin-top: 75px;
  margin-left: 5px;
  font-size: 90px;
}

.form__paper {
  z-index: -999;
}
.form__paper__shadow1,
.form__paper__shadow2,
.form__paper__shadow3,
.form__paper__shadow4 {
  z-index: -9999;
}
.form__paper,
.form__paper__shadow1,
.form__paper__shadow2,
.form__paper__shadow3,
.form__paper__shadow4 {
  position: fixed;
  opacity: 60%;
}
.form__paper__shadow1 {
  filter: 0;
  -webkit-filter: drop-shadow(var(--shadow-width) var(--shadow-width) var(--shadow-radius) var(--shadow-color));
}
.form__paper__shadow2 {
  filter: 0;
  -webkit-filter: drop-shadow(
    calc(var(--shadow-width) * -1) var(--shadow-width) var(--shadow-radius) var(--shadow-color)
  );
}
.form__paper__shadow3 {
  filter: 0;
  -webkit-filter: drop-shadow(
    var(--shadow-width) calc(var(--shadow-width) * -1) var(--shadow-radius) var(--shadow-color)
  );
}
.form__paper__shadow4 {
  filter: 0;
  -webkit-filter: drop-shadow(
    calc(var(--shadow-width) * -1) calc(var(--shadow-width) * -1) var(--shadow-radius) var(--shadow-color)
  );
}

.cryptid-form__image-container {
  margin-top: 100px;
  margin-right: 200px;
}
